/* reset all of the defaults to 0 so that you can write your OWN css */
/* don't rely on the built-in browser defaults */

* {
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body { 
    font-size: 16px;
    background-color: black;
    background-image: url(../img/Multitask.jpg);

    font-family: Arial, Helvetica, sans-serif;

    color: white;
}



header > h1 { text-align: center; padding: 8px; }

article { 
    width: 25%; 
    border: 4px solid white; 
    border-radius: 8px; 

    display: inline-block;
    margin: 10px 12px;

    text-align: left;
}

main { text-align: center; }

article > h2 { color: gray;  padding: 4px 8px; }

article:first-of-type { border: 4px solid gray; }

#inprogress { border: 4px solid red; }
#inprogress h2 { color: red; }

#done { border: 4px solid green; }
#done h2 { color: green; }

ul { list-style-type: none; }

ul li { padding: 6px 8px; text-transform: uppercase; }

.todo li:nth-child(odd) { background-color: rgba(255, 255, 255, 0.2)}

.inprogress li:nth-child(odd) { background-color: rgba(255, 0, 0, 0.5)}

.done li:nth-child(odd) { background-color: rgba(0, 255, 0, 0.5)}